<button class="btn btn-success" id="primary" type="submit" name="" value='logout'><a href="/logout">logout</a></button>
<form id="daysForm" action="/days" method="get">
  <table frame="box" class="table table-bordered">
    <thead>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <tr>
      <ul>
        <td class="{{SundayColor}}">

          {{#each waiterDays.Sunday.waiter}}
            <li>{{this}}</li>
          {{/each}}
        </td>
        <td class="{{MondayColor}}">
          {{#each waiterDays.Monday.waiter}}
            <li>{{this}}</li>
          {{/each}}
        </td>
        <td class="{{TuesdayColor}}">
          {{#each waiterDays.Tuesday.waiter}}
            <li>{{this}}</li>
          {{/each}}
        </td>
        <td class="{{WednesdayColor}}">
          {{#each waiterDays.Wednesday.waiter}}
            <li>{{this}}</li>
          {{/each}}
        </td>
        <td class="{{ThursdayColor}}">
          {{#each waiterDays.Thursday.waiter}}
            <li>{{this}}</li>
          {{/each}}
        </td>
        <td class="{{FridayColor}}">
          {{#each waiterDays.Friday.waiter}}
            <li>{{this}}</li>
          {{/each}}
        </td>
        <td class="{{SaturdayColor}}">
          {{#each waiterDays.Saturday.waiter}}
            <li>{{this}}</li>
          {{/each}}
        </td>
      </ul>

    </tr>
  </table>
  <button class="btn btn-success" id="prima" type="submit" name="" value='reset'><a href="/Clear">Clear</a></button>
</form>
